* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-image: linear-gradient(150deg,rgb(11%, 19%, 45%),rgb(29%, 4%, 38%));
    height: 100vh;
    font-family: sans-serif;
}

main {
    width: 100%;
    max-width: 540px;
    background-color: rgb(100%, 100%, 100%);
    padding: 40px 30px 60px;
    border-radius: 10px;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.title {
    display: flex;
    justify-content: flex-start;
    color: rgb(0%, 15%, 34%);
    margin-bottom: 20px;
    font-weight: 800;
}

.title img{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}


.inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;
}

.inputs input {
    outline: none;
    border: none;
    padding: 20px;
    border-radius: 35px;
}
.inputs input[type="text"] {
    flex-grow: 2;
    background-color: rgb(93%, 93%, 94%);
    width: 90%;
}
.inputs input[type="button"] {
    flex-grow: 1;
    background-color: rgb(100%, 35%, 27%);
    color: white;
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    font-size: 18px;
    cursor: pointer;
}




ul li {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-bottom: 20px;
    padding: 10px;
    height: 50px;
    font-size: 17px;
    position: relative;
}

p.active {
    text-decoration: line-through;
}

ul p {
    cursor: pointer;
}


ul .check-box  {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
    left: -15px;
} 

span.active {
    background-image: url(/image/checked.png);
    background-size: cover;
}

.delete{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: brown;
    color: black;
}

.delete:hover {
    background-color: rgba(165, 42, 42, 0.918);
}


.deleteAll {
    position: absolute;
    bottom: 0px;
    right: 50%;
    transform: translateX(50%);
    background-color: red;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

div.btns {
    display: flex;
    gap: 10px;
    width: 80px;
    justify-content: space-between;
}

.update{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 3px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(255, 193, 7);
    color: black;
}